<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Form</h1>

    <form action="/register" method="post">
        name <input type="text" name='name' placeholder="name">
        gmail <input type="gmail" name='gmail' placeholder="gmail">
        password <input type="password" name='password' placeholder="password">
    <input type="submit">
    </form>
</body>
</html>